<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ collapsed: isCollapsed }"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- TOOLBAR DO SIDENAV -->
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          mat-icon-button
          aria-label="Ativar barra de navegação lateral"
          (click)="toggleSidenav()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      }

      <button
        mat-icon-button
        class="collapse-toggle"
        (click)="isCollapsed = !isCollapsed"
        aria-label="Retrátil"
      >
        <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
      </button>

      <span class="navbar-title">
        <mat-icon>sanitizer</mat-icon>
        <span class="navbar-text">Clinicas Ravialisticas</span>
      </span>
    </mat-toolbar>

    <!-- ITENS DO MENU -->
    <mat-nav-list>
      @for (item of itensNavbar; track $index) {
        <a mat-list-item [routerLink]="item.link" class="sidenav-item">
          <mat-icon matListItemIcon>{{ item.icone }}</mat-icon>
          <span class="sidenav-text">{{ item.titulo }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Ativar barra de navegação lateral"
          class="me-2"
          mat-icon-button
          (click)="toggleSidenav()"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <span class="d-flex align-items-center gap-2">
          <mat-icon>collections_bookmark</mat-icon>
          <span class="fs-4">NoteKeeper</span>
        </span>
      }

      <button mat-raised-button [matMenuTriggerFor]="opcoesUsuario" class="ms-auto">
        <mat-icon>person</mat-icon>
      </button>

      <mat-menu #opcoesUsuario="matMenu">
        <button mat-menu-item (click)="logoutRequisitado.emit()">
          <mat-icon>arrow_backwards</mat-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="container-fluid px-4">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>